*.suo
[Oo]bj/
[Bb]in/
*.pyd
*.exe
*.pyc
dist
pythonnet.egg-info
*.userprefs
pybin/*
vs_proj/*.dll
vs_proj/*.py
vs_proj/*.pdb
vs_proj/*.bat
pythonnet.opensdf
pythonnet.sdf
build/lib.win-amd64-3.5/Python.Runtime.dll
build/lib.win-amd64-3.5/app.manifest